<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="historical-data.org is a set of extensible schemas that enables webmasters to embed structured historical and genealogical data on their web pages for use by search engines and other applications.">
  <link rel="stylesheet" type="text/css" href="styles/historicaldata.css">
</head>

<body class="">

<div id="container">
  <div id="intro">
    <div id="pageHeader">
      <div class="wrapper">
        <h1><a href="http://historical-data.org">historical-data.org</a></h1>
      </div>
    </div>
    <div id="selectionbar">
      <div class="wrapper">
        <ul>
          <li><a href="schemas.html">Schemas</a></li>
          <li><a href="index.html">Home</a></li>
        </ul>
      </div>
    </div>
    <div id="mainContent">
      {{ content }}

      <p class="date">Last updated: {{ site.time }}</p>
    </div>
    <div id="footer">
      <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a><br />This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">work</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</p>
      <p>This project is <a href="https://github.com/historical-data/schema">maintained at GitHub</a>.</p>
    </div>
  </div>
</body>
</html>
